.Person {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 650px;
    width: 425px;
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    font-family: 'Graduate', cursive;
}

.photo {
    height: 400px;
    min-width: 85%;
    max-width: 85%;
    border-radius: 20px;
    margin-top: 20px;
    object-fit: cover;
}

h3 {
    color: #6495EC;
}

.personName {
    color: #FF6347;
}