html {
  height: 100%;
  overflow: hidden;
}

body {
  background: url('https://ak9.picdn.net/shutterstock/videos/1007204479/thumb/1.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.App {
  text-align: center;
}

h1 {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  color: limegreen;
}
