.cohort-grid {
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

h2 {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  color: cornflowerblue;
}
